.about-me-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    width: 100%;
    padding: 20px;
    text-align: center;

    h3 {
        color: $primary-color;
        font-size: 1.5rem;
        font-weight: bold;
    }

    P {
        color: $text;
        font-size: 1rem;
        line-height: 1;
    }

    .about-me-icons {
        display: none;
        justify-content: left;
        align-items: left;
        margin-top: 10px;
        color: $grey-medium !important;
        transition: color 0.3s ease-in-out;

        .icon-html-five  {
            @extend %skill-icon;

            &:hover {
                color: $primary-color;
            }
        }

        .icon-css3  {
            @extend %skill-icon;

            &:hover {
                color: $secondary-color;
            }
        }

        .icon-sass  {
            @extend %skill-icon;

            &:hover {
                color: $accent-color;
            }
        }
    }

    @media (min-width: $brk-point-md) {
        margin-left: 10%;
        margin-right: 10%;
        text-align: left;
    }
}

.about-me-image {
    display: none;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    
    img {
        max-width: 50%;
        border-radius: 50%;
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out;

        &:hover {
            filter: grayscale(0%);
        }
    }
}

// Show icons at $brk-point-sm and above
@media (min-width: $brk-point-sm) {
    .about-me-grid {
        .about-me-icons {
            display: flex;
        }
    }
    .about-me-image {
        display: flex;
    }
}
