.about-me {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;

}

.about-me-image {
    margin-top: 10px;
    img {
        max-width: 20%;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}