.hero {
  position: relative;
  background: url('../img/HeroImage.jpg') no-repeat center center/cover;
  height: 100vh;
  text-align: center;

  // Aligns Text to Center of Hero Section

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

      // Add Darken Overlay to the image to make text more readable

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:
      linear-gradient(to right, rgba($primary-color, 0.5) 5%, rgba($primary-color, 0) 50%),
      rgba(0, 0, 0, 0.5);
    z-index: 0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  .hero-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
  z-index: 1;

    // Ensure the text is above the overlay

        span, a {
          color: $white;
        }

        h1 {
          font-size: 5rem;
          letter-spacing: 0.05em;
        }

        h2 {
          font-size: 3rem;
          letter-spacing: 0.05em;
        }

        .icon-keyboard_arrow_down {
        font-size: 2rem;
        color: $secondary-color;
        transition: color 0.3s;
        cursor: pointer;

          &:hover {
            color: $accent-color;
            font-weight: bold;
          }
      }
  
      a {
        text-decoration: none;

        &:hover {
          color: $accent-color;
          font-weight: bold;
        }
    }
  }
}

.light {
  color: $accent-color;

}