.hero {
  position: relative;
  background: url('../img/HeroImage.jpg') no-repeat center center/cover;
  text-align: center;

  // Aligns Text to Center of Hero Section

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -30px 0px -20px rgba(0, 0, 0, 0.3);

  // Add Darken Overlay to the bottom of the image to make text more readable

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:
      linear-gradient(to right, rgba($primary-color, 0.5) 5%, rgba($primary-color, 0) 50%),
      rgba(0, 0, 0, 0.5);
    z-index: 0;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  .hero-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  min-height: 50%;
  max-height: 50%;
  z-index: 1;

    // Ensure the text is above the overlay

        span, a {
          color: $white;
        }

        h1 {
          font-size: 1rem;
          letter-spacing: 0.05em;
        }

        h2 {
          font-size: 1rem;
          letter-spacing: 0.05em;
        }

        .icon-keyboard_arrow_down {
        font-size: 2rem;
        color: $secondary-color;
        transition: color 0.3s;
        cursor: pointer;

          &:hover {
            color: $accent-color;
            font-weight: bold;
          }
      }
  
      a {
        text-decoration: none;

        &:hover {
          color: $accent-color;
          font-weight: bold;
        }
    }

    // Ensure the scroll-down is always at the bottom
    > div:last-child {
      margin-top: auto;
      align-self: center;
    }
  }
  .light {
  color: $accent-color;

}

}

@media (min-width: $brk-point-md) {
  .hero {
    min-height: 50vh;
    height: 50vh;
  }
  .hero .hero-text h1 {
    font-size: 2rem;
    letter-spacing: 0.05em;
  }
  .hero .hero-text h2 {
    font-size: 1.5rem;
    letter-spacing: 0.05em;
  }
}

@media (min-width: $brk-point-lg) {
  .hero {
    min-height: 80vh;
    height: 80vh;
  }
  .hero .hero-text h1 {
    font-size: 5rem;
  }
  .hero .hero-text h2 {
    font-size: 3rem;
  }
}

@media (min-width: $brk-point-xl) {
  .hero {
    min-height: 100vh;
    height: 100vh;
  }
  .hero .hero-text h1 {
    font-size: 5rem;
  }
  .hero .hero-text h2 {
    font-size: 3rem;
  }
}