.sidebar {
  display: none;
  width: 0px;

  background-color: #f4f4f4;
  position: fixed;
  height: 100%;
  border-right: 2px solid $primary-color;
  text-align: center;
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
    width: 200px;
  }
}

.sidebar .logo a {
  text-decoration: none !important;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: $primary-color;
  border-bottom: 2px solid transparent; // Always transparent
  transition: color 0.3s, text-shadow 0.3s; // Add transition for text-shadow
  &:hover {
    color: $secondary-color;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4); // Add drop shadow to text
    // Do NOT set border-bottom-color
    text-decoration: none;
  }
}

.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li a {
  display: inline-block;
  padding: 15px 0;
  text-decoration: none;
  color: #333;
  border-bottom: 2px solid transparent;
  transition: color 0.3s;

  &:hover {
    border-bottom: 2px solid $accent-color;
  }
}

.contact-me {
  border-top: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;
  margin-top: 50px !important;
}

// Only apply on hover of the last item
.sidebar nav ul li:last-child a:hover {
  color: $secondary-color;
  border-bottom: 2px solid transparent;
}

.txt-secondary {
    &:hover {
    border-bottom: 2px solid $secondary-color !important;
  }
}