* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
}

main {
  margin-left: 0;
  flex-grow: 1;

  @media (min-width: 768px) {
    margin-left: 200px;
    flex-grow: 1;
  }
}

